﻿@model DO.Objects.product
@{
    ViewBag.Title = "Register";
    IEnumerable<DO.Objects.category> categories = ViewBag.Categories; 
}

<div class="container-main shadow">
    <div class="ml-4 mr-4">
        <h3 class="titleView">Register Product</h3>
        @using (Html.BeginForm())
        {
        <div>
            <div class="form-group">
                <label for="clientName">Full Name</label>
                @Html.TextBoxFor(m => m.productName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="clientName">Inventory</label>
                @Html.TextBoxFor(m => m.inventory, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="clientName">Price</label>
                @Html.TextBoxFor(m => m.price, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="clientName">Category</label>
                @Html.DropDownList("categoryId", categories.Select(x => new SelectListItem
                {
                    Value = x.id.ToString(),
                    Text = x.categoryName,
                }), new { @class = "custom-select" })
            </div>
            <input type="submit" value="Create" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", "Employees", new { @class = "btn btn-primary aButton" })
        </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.custom-select').select2();
    });
</script>


